
# Don't need to track the build in git
dist

# Jetbrains IDE specific stuff
tiny-test-framework.iml
.idea

# VScode specific stuff
.vscode

# Yeah... we don't want to check this in either
node_modules
